@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

.hola {
  /*appearance: none;
	border-radius: 0;
  */
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  /*padding: 1em 0 .8em;*/
  /*text-align: center;*/
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

.buttonCss {
  all: unset;
  margin-top: 2.4em;
  background: transparent;
  border: 2px solid white;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
  text-align: center;
  color: white;
}


  .fondo{
    height: 600px;
    /*IMPORTANTE*/
    background-image: url("../../img/recipeCreate2.png");
    height: 100vh;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    align-items: flex-end;
    justify-content: flex-end;
    
  }



  .btnCrear{
    padding: 10px;
  }

  .imagenCard{
    width: 100px;
  }

  .recuadro{
    width: 6000px;
    height: 710px;
    /* background-color: fuchsia; */

    display: flex;
    flex-direction: column;
    /*margin-top: 50px;
    margin-left: 350px;*/
    size: 200px;
    margin-left: 30px;
  }

  .divCrear{
    width: 500px;
    height: 400px;
    /*background-color: fuchsia;*/
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    size: 200px;
  }
  
  
  .centrar{
    margin-right: 200px;
    width: 30rem;
    border:  #f4511e 5px solid;
    background-color: white;
      
  }
.createTitulo {
  /*margin-left: 50px;*/
  margin-right: 750px;
  font-size: 50px;
  color: white;
  padding-top: 45px;
  
}

label {
  color: white;
  font-family: "Times New Roman", Times, serif;
}


  