.cen{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nums{
    text-decoration: none;
    display: inline-block    ;
    padding: 12px 20px 12px 20px;
 
    font-size: 25px;
    transition: 0.4s;
}


